@page "/Sign"

@inject HttpClient http
@inject NavigationManager nav
@using SportStore.ComponentsLib

<PageTitle> Создание пользователя </PageTitle>

<Component1></Component1>

<div class="container">
    <div class="row">
        <div class="my-3 col border border-1 border-primary">
            
            <Image ImageWidth="300"> Название картинки </Image>



            <EditForm class="m-2 p-2 border border-1 border-primary" EditContext="model" OnValidSubmit="Submit">

                <ValidationSummary />

                <InputText class="m-2 p-2" @bind-Value="user.Surname" placeholder="Фамилия" @onchange="OnChange" @oninput="Change" />
                <InputText class="m-2 p-2" @bind-Value="user.Name" placeholder="Имя" />

                <input @bind-value="user.Name" @bind-value:event="oninput" placeholder="Name" />

                <InputText class="m-2 p-2" @bind-Value="user.Patronymic" placeholder="Отчество" />
                <InputText class="m-2 p-2" @bind-Value="user.Login" placeholder="Логин" />
                <InputText class="m-2 p-2" @bind-Value="user.Password" placeholder="Пароль"/>

                <InputSelect @bind-Value="@user.RoleId" multiple>
                    @foreach (var r in Roles)
                    {
                        <option value="@r.Id">@r.Name</option>
                    }
                </InputSelect>

                <p>
                    <button type="submit" class="m-2 p-2 btn btn-lg btn-primary"
                            disabled="@(user.Name != "test")">Отправить</button>
                </p>



            </EditForm>
        </div>
</div>
</div>

@if(user == null)
{
    <h3> Пользователь создается!</h3>
}
else
{
    <h3> @user.Name </h3>
}


@code {
    EditContext model;
    User user = new();
    IEnumerable<Role> Roles { get; set; } = new List<Role>();

    protected override async Task OnInitializedAsync()
    {
        model = new(user);
        Roles = await http.GetFromJsonAsync<IEnumerable<Role>>("https://localhost:7214/api/Roles");
        Console.WriteLine(Roles);
    }

    public async Task Submit()
    {
        var response = await http.PostAsJsonAsync("https://localhost:7214/api/Users/",user);
        Console.WriteLine(response.IsSuccessStatusCode);
        if (response.IsSuccessStatusCode)
        {
            nav.NavigateTo("/Auth");
        }
    }

    public void Change(ChangeEventArgs e)
    {
        Console.WriteLine($"Event Change Input: {e.Value}");
    }

    public void OnChange()
    {
        //Task.Delay(400);
        Console.WriteLine("OnChange Event: {e.Value}");
    }

    public void SetNameUser(string value)
    {
        user.Name = $"{user.Name}";
    }
}
